{% extends "base.html.twig" %}

{% block body %}
	{% include "header.html.twig" %}

	<div
		id="map"><!-- Ici s'affichera la carte -->
	</div>

	<h1>Les prochaines sorties</h1>
	{#----------------------------------------- FILTRE -----------------------------------------#}
	<section id="filtre">
		<div class="container">
			<div class="row">
				<h6 class="col-12">Trier par :</h6>
				<div class="col-12">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
						<label class="form-check-label" for="inlineRadio1">Date</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">Lieu</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
						<label class="form-check-label" for="inlineRadio3">Nom</label>
					</div>
				</div>
				<div class="d-flex justify-content-between col-12">
					<p class="col-3">
						<i class="fas fa-user-plus"></i>
						Pour s'inscrire à la sortie</p>
					<p class="col-3">
						<i class="fas fa-user-minus"></i>
						Pour se retirer de la sortie</p>
					<p class="col-3">
						<i class="fas fa-users"></i>
						Nombre de participant</p>
				</div>
				<div class="col-12">
					<p>*/3 Indique le nombre de personne requise pour officialiser la sortie</p>
				</div>
			</div>
		</div>
	</section>
	{#----------------------------------------- /FILTRE -----------------------------------------#}

	{#----------------------------------------- LISTE DES SORTIES -----------------------------------------#}

	<section id="list-sortie">
		<div class="container">
			<div class="col-12 row d-flex justify-content-around" style="padding-top:2%">
				<div class="col-12 col-xl-4 row">
					<div class="col-2">
						<img class="img-fluid" src="{{ asset('asset/img/img-profil.png') }}">
					</div>
					<div class="col-10">
						<h6>Sortie team mystique</h6>
						<p>Nous sommes 2 a l'arenes de croix bonneaux pour giratina nous recherchons du monde pour samedi ^^</p>
					</div>
				</div>
				<div class="col-12 col-xl-4 row">
					<div class="col-2">
						<img class="img-fluid" src="{{ asset('asset/img/img-profil.png') }}">
					</div>
					<div class="col-10">
						<h6>Sortie</h6>
						<p>Bonjour, je cherche ces deux joueurs si possible, on joue dans le même coin</p>
					</div>
				</div>
				<div class="col-12 col-xl-4 row">
					<div class="col-2">
						<img class="img-fluid" src="{{ asset('asset/img/img-profil.png') }}">
					</div>
					<div class="col-10">
						<h6>Sortie procé</h6>
						<p>Salut à tous ! 😁 Étant donné que ce week-end il y a double XP sur les cadeaux, je vous passe mon code dresseur, ajoutez-moi  je vous passe mon code dresseur, ajoutez-moi  je vous passe mon code dresseur, ajoutez-moi !! Je joue tous les jours, j’envoie des cadeaux au maximum !!</p>
					</div>
				</div>
				<div class="col-12 col-xl-4 row">
					<div class="col-2">
						<img class="img-fluid" src="{{ asset('asset/img/img-profil.png') }}">
					</div>
					<div class="col-10">
						<h6>Sortie team mystique</h6>
						<p>Nous sommes 2 a l'arenes de croix bonneaux pour giratina nous recherchons du monde pour samedi ^^</p>
					</div>
				</div>
				<div class="col-12 col-xl-4 row">
					<div class="col-2">
						<img class="img-fluid" src="{{ asset('asset/img/img-profil.png') }}">
					</div>
					<div class="col-10">
						<h6>Sortie</h6>
						<p>Bonjour, je cherche ces deux joueurs si possible, on joue dans le même coin</p>
					</div>
				</div>
				<div class="col-12 col-xl-4 row">
					<div class="col-2">
						<img class="img-fluid" src="{{ asset('asset/img/img-profil.png') }}">
					</div>
					<div class="col-10">
						<h6>Sortie procé</h6>
						<p>Salut à tous ! 😁 Étant donné que ce week-end il y a double XP sur les cadeaux, je vous passe mon code dresseur, ajoutez-moi  je vous passe mon code dresseur, ajoutez-moi  je vous passe mon code dresseur, ajoutez-moi !! Je joue tous les jours, j’envoie des cadeaux au maximum !!</p>
					</div>
				</div>
				<div class="col-12 col-xl-4 row">
					<div class="col-2">
						<img class="img-fluid" src="{{ asset('asset/img/img-profil.png') }}">
					</div>
					<div class="col-10">
						<h6>Sortie team mystique</h6>
						<p>Nous sommes 2 a l'arenes de croix bonneaux pour giratina nous recherchons du monde pour samedi ^^</p>
					</div>
				</div>
				<div class="col-12 col-xl-4 row">
					<div class="col-2">
						<img class="img-fluid" src="{{ asset('asset/img/img-profil.png') }}">
					</div>
					<div class="col-10">
						<h6>Sortie</h6>
						<p>Bonjour, je cherche ces deux joueurs si possible, on joue dans le même coin</p>
					</div>
				</div>
				<div class="col-12 col-xl-4 row">
					<div class="col-2">
						<img class="img-fluid" src="{{ asset('asset/img/img-profil.png') }}">
					</div>
					<div class="col-10">
						<h6>Sortie procé</h6>
						<p>Salut à tous ! 😁 Étant donné que ce week-end il y a double XP sur les cadeaux, je vous passe mon code dresseur, ajoutez-moi  je vous passe mon code dresseur, ajoutez-moi  je vous passe mon code dresseur, ajoutez-moi !! Je joue tous les jours, j’envoie des cadeaux au maximum !!</p>
					</div>
				</div>
				<!-- Pagination -->
				<nav aria-label="...">
					<ul class="pagination">
						<li class="page-item disabled">
							<a class="page-link" href="#" tabindex="-1">Previous</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">1</a>
						</li>
						<li class="page-item active">
							<a class="page-link" href="#">2
								<span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">3</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">Next</a>
						</li>
					</ul>
				</nav>
				<!-- Pagination -->
			</div>
		</div>
	</section>

	{#----------------------------------------- /LISTE DES SORTIES -----------------------------------------#}
	{% include "footer.html.twig" %}
{% endblock %}
