{% extends "base.html.twig" %}

{% block body %}
	{% include "header.html.twig" %}

	<div
		id="map"><!-- Ici s'affichera la carte -->
	</div>

	<h1>Les prochaines sorties</h1>
	{#----------------------------------------- FILTRE -----------------------------------------#}
	<section id="filtre">
		<div class="container">
			<div class="row">
				<h6 class="col-12">Trier par :</h6>
				<div class="col-12">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
						<label class="form-check-label" for="inlineRadio1">Date</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
						<label class="form-check-label" for="inlineRadio2">Lieu</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
						<label class="form-check-label" for="inlineRadio3">Nom</label>
					</div>
				</div>
				<div class="d-flex justify-content-between col-12">
					<p class="col-3">
						<i class="fas fa-user-plus"></i>
						Pour s'inscrire à la sortie</p>
					<p class="col-3">
						<i class="fas fa-user-minus"></i>
						Pour se retirer de la sortie</p>
					<p class="col-3">
						<i class="fas fa-users"></i>
						Nombre de participant</p>
				</div>
				<div class="col-12">
					<p>*/3 Indique le nombre de personne requise pour officialiser la sortie</p>
				</div>
			</div>
		</div>
	</section>
	{#----------------------------------------- /FILTRE -----------------------------------------#}

	{#----------------------------------------- LISTE DES SORTIES -----------------------------------------#}

	<section id="list-sortie">
		<div class="container">
			<div class="col-12 row d-flex justify-content-around" style="padding-top:2%">
				{% for sortie in sorties %}
					<div class="col-12 col-xl-4 row">
						<div class="col-2">
							{% for user in sortie.user %}
								{% if user.username == sortie.MainUser %}
									<img class="img-fluid" src="{{ asset('asset/uploads/img/' ~ user.image) }}">
								{% endif %}
							{% endfor %}
						</div>
						<div class="col-10">
							<h5>{{ sortie.title }}</h5>
							<h6>{{ sortie.MainUser }}</h6>
							<p>{{ sortie.content }}</p>
							<p>{{ sortie.location }}
								|
								{{ sortie.date|format_datetime('full', 'short', locale='fr') }}</p>
							<p>
								{% set count = 0 %}
								{% for user in sortie.user %}
									{% set count = count + 1 %}
								{% endfor %}
								{{ count }}

								/{{ sortie.numberUser }}<i style="margin-left:1%" class="fas fa-users"></i>
								<a href='{{ url('addUserSortie',{"id":sortie.id}) }}'>
									<i style="margin-left:3%" class="fas fa-user-plus"></i>
								</a>
								<a href='{{ url('deleteUserSortie',{"id":sortie.id}) }}'>
									<i style="margin-left:3%" class="fas fa-user-minus"></i>
								</a>
							</p>
						</div>
					</div>
				{% endfor %}
				<div class="row d-flex justify-content-center col-12">
					{{ knp_pagination_render(sorties) }}
				</div>

			</div>
		</div>
	</section>
	{#----------------------------------------- /LISTE DES SORTIES -----------------------------------------#}
	{% include "footer.html.twig" %}
{% endblock %}
