{% block header %}
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<img src="{{ asset('asset/img/logo.png') }}" style="width:100px">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse " id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Accueil
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Actualité</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ asset('lesSorties') }}">Les sorties</a>
					</li>

					{% if app.user %}
					</ul>
					<div class="row" style="margin-bottom:0px">
						<div class="col-6 d-flex justify-content-end">
							{# <img class="profil" src="{{ asset('asset/uploads/img/' ~ app.user.image) }}"> #}
							
						</div>
						<div class="row col-6 d-flex align-items-center">
							<button class="btn btn-outline-success my-2 my-sm-0 col-12" type="button" style="margin-right:1%" onclick="window.location.href='{{ asset('profil') }}'">Profil
								{{ app.user.username }}</button>
							<button class="btn btn-outline-danger my-2 my-sm-0 col-12" type="button" style="margin-right:1%" onclick="window.location.href='{{ asset('logout') }}'">Se Déconnecter</button>
						</div>
					</div>
			{% else %}
				</ul>
				<button class="btn btn-outline-success my-2 my-sm-0" type="button" style="margin-right:1%" onclick="window.location.href='{{ asset('login') }}'">Se Connecter</button>
				<button class="btn btn-outline-info my-2 my-sm-0" type="button" onclick="window.location.href='{{ asset('register') }}'">S'inscrire</button>
			{% endif %}
		</div>
	</nav>
</header>{% endblock %}
