{% extends "base.html.twig" %}

{% block body %}
	{% include "header.html.twig" %}
	<section id="list-sortie" style="padding-bottom:3%">
		<div class="col-12 row d-flex justify-content-around" style="padding-top:2%">
			{% for sortie in userSorties.sorties %}
				<div class="card" style="width: 18rem;">
					<div class="card-body row" style="margin-top:5%">
						<div class="col-2">
							<img class="img-fluid" src="{{ asset('asset/uploads/img/' ~ userSorties.image) }}">
						</div>
						<div class="col-10">
							<h5 class="card-title d-flex justify-content-between">{{ sortie.title }}
								<div>
									{% if sortie.MainUser == userSorties.username %}
									
									<a href='{{ url('updateSortie',{"id":sortie.id}) }}'>
										<i class="fas fa-pen" style="color:#4BC068"></i>
									</a>
									<a href='{{ url('deleteSortie',{"id":sortie.id}) }}'>
										<i class="far fa-times-circle" style="color:#D93F1F"></i>
									</a>
									{% endif %}
								</div>
							</h5>
							<h6 class="card-subtitle mb-2 text-muted">{{ sortie.MainUser }}</h6>
							<p class="card-text">{{ sortie.content }}</p>
							<p class="card-text">{{ sortie.date|format_datetime('full', 'short', locale='fr') }}</p>
							<p href="#" class="card-link">
								{% set count = 0 %}
								{% for user in sortie.user %}
									{% set count = count + 1 %}
								{% endfor %}
								{{ count }}
								/{{ sortie.numberUser }}<i style="margin-left:1%" class="fas fa-users"></i>
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<a href='{{ asset('createSortie') }}' class="d-flex justify-content-center" style="margin-top:1%">
			<button type="button" class="btn btn-info">Créer une sortie</button>
		</a>
	</section>

	{% include "footer.html.twig" %}
{% endblock %}
